body {
    background-color: black;
    text-align: center;
    font-family: verdana, sans-serif;
}

.main-header {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.download-now {
    color: aquamarine;
    font-size: 16px;
}
.main-content {
    color: grey;
    font-size: 21px;
    
}
.copyright-content {
    text-align: right;
    color: grey;
}